[submodule "src/ui"]
	path = src/ui
	url = https://github.com/StaveService/ui.git 
[submodule "src/hooks/useOpen"]
	path = src/hooks/useOpen
	url = https://gist.github.com/d9e7a0946e1bbb9ce05d96866549d4fc.git
[submodule "src/components/ControlTextField"]
	path = src/components/ControlTextField
	url = https://gist.github.com/c4ae1db9c19e956c46d052618842a780.git
